.cf_container {
  position: relative;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 48px;
  padding-top: 24px;
  overflow-y: scroll;
  height: 200px;
  position: relative;
}

.cf {
  position: relative;
  overflow: hidden;
}

.arrow {
  opacity: 0;
  position: absolute;
  right: 0px;
  transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
}

.tag {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@screen md {
  .cf_container {
    height: 320px;
  }

  .tag {
    right: 24px;
    top: unset;
    border-radius: 6px;
    padding: 4px 16px;
    font-size: 12px;
    line-height: 16px;
    width: unset;
    height: unset;
    transition: right 0.2s ease-in-out;
  }

  .cf:hover .tag {
    right: 60px;
  }

  .cf:hover .arrow {
    opacity: 1;
    right: 24px;
  }
}
