.cf_container {
  position: relative;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.cf {
  position: relative;
  overflow: hidden;
}

.arrow {
  opacity: 0;
  position: absolute;
  right: 0px;
  transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
}

.cf:hover .arrow {
  opacity: 1;
  right: 24px;
}

.tag {
  opacity: 0;
  position: absolute;
  right: 0px;
  transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
}

.cf:hover .tag {
  opacity: 1;
  right: 60px;
}
